/* ========= INFORMATION ============================

- document:  Slick Modals - HTML5 and CSS3 modal popups
- author:    Capelle @ Codecanyon
- profile:   http://codecanyon.net/user/Capelle
- version:   2.0

==================================================== */

.overlay,.slickModals {
	left:0;
	top:0;
	width:100%;
	height:100%
}
.slickModals * {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-style:normal;
	font-size:100%;
	vertical-align:baseline;
	line-height:normal;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.window .wrap.custom.radius,.window.radius {
	border-radius:6px
}
.slickModals {
	position:fixed;
	right:0;
	bottom:0;
	z-index:9999999;
	visibility:hidden
}
.overlay,.window {
	opacity:0;
	position:absolute
}
.overlay {
	content:"";
	display:block;
	z-index:1;
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-ms-transition-delay:.2s;
	transition-delay:.2s
}
.window {
	display:inline-block;
	width:500px;
	height:266px;
	padding:40px;
	margin:auto;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	z-index:2;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-ms-transition-delay:0s;
	transition-delay:0s;
	text-align:center
}
input.hiddenInput {
	display:none;
	visibility:hidden;
	opacity:0
}
.slickModals label {
	cursor:pointer
}
.overlay.black {
	background:rgba(0,0,0,.85)
}
.overlay.white {
	background:rgba(255,255,255,.85)
}
.overlay.transparent {
	background:0 0
}
.overlay.custom {
	background:rgba(77,136,217,.85)
}
.overlay.custom-2 {
	background:rgba(0,0,0,.2)
}
#blurred {
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	-ms-transition:all .4s ease;
	transition:all .4s ease;
	display:block;
	height:100%;
	width:100%;
	position:relative
}
#blurred.on {
	-webkit-filter:blur(1px);
	-moz-filter:blur(2px);
	-ms-filter:blur(2px);
	filter:blur(1px)
}
.window.black {
	background:#000
}
.window.white {
	background:#fff
}
.window.transparent {
	background:0 0
}
.window.custom {
	background:#3e75c1
}
.window.shadow {
	box-shadow:0 0 36px rgba(0,0,0,.2)
}
.window.shadow.strong {
	box-shadow:0 0 36px rgba(0,0,0,.4)
}
.window.center {
	top:0;
	right:0;
	bottom:0;
	left:0
}
.window.topLeft {
	top:0;
	left:0
}
.window.topCenter {
	top:0;
	left:0;
	right:0
}
.window.topRight {
	top:0;
	right:0
}
.window.bottomLeft {
	bottom:0;
	left:0
}
.window.bottomCenter {
	bottom:0;
	left:0;
	right:0
}
.window.bottomRight {
	bottom:0;
	right:0
}
.window.right {
	top:0;
	right:0;
	bottom:0
}
.window.left {
	top:0;
	left:0;
	bottom:0
}
.window.margin-10 {
	margin:10px
}
.window.margin-20 {
	margin:20px
}
.window.margin-30 {
	margin:30px
}
.window.fade {
	opacity:0
}
.window.zoomIn {
	-webkit-transform:scale(.8);
	-moz-transform:scale(.8);
	-ms-transform:scale(.8);
	transform:scale(.8)
}
.window.zoomOut {
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	transform:scale(1.2)
}
.window.slideTop {
	-webkit-transform:translateY(-20%);
	-moz-transform:translateY(-20%);
	-ms-transform:translateY(-20%);
	transform:translateY(-20%)
}
.window.slideBottom {
	-webkit-transform:translateY(20%);
	-moz-transform:translateY(20%);
	-ms-transform:translateY(20%);
	transform:translateY(20%)
}
.window.slideLeft {
	-webkit-transform:translateX(-20%);
	-moz-transform:translateX(-20%);
	-ms-transform:translateX(-20%);
	transform:translateX(-20%)
}
.window.slideRight {
	-webkit-transform:translateX(20%);
	-moz-transform:translateX(20%);
	-ms-transform:translateX(20%);
	transform:translateX(20%)
}
.window.rotateIn {
	-webkit-transform:rotate(720deg) scale(0);
	-moz-transform:rotate(720deg) scale(0);
	-ms-transform:rotate(720deg) scale(0);
	transform:rotate(720deg) scale(0)
}
.window.rotateOut {
	-webkit-transform:rotate(720deg) scale(1.5);
	-moz-transform:rotate(720deg) scale(1.5);
	-ms-transform:rotate(720deg) scale(1.5);
	transform:rotate(720deg) scale(1.5)
}
.window.flipHorizontal {
	-webkit-transform:rotateY(-90deg);
	-moz-transform:rotateY(-90deg);
	-ms-transform:rotateY(-90deg);
	transform:rotateY(-90deg)
}
.window.flipVertical {
	-webkit-transform:rotateX(-90deg);
	-moz-transform:rotateX(-90deg);
	-ms-transform:rotateX(-90deg);
	transform:rotateX(-90deg)
}
.window.perspectiveTop {
	-webkit-transform:perspective(300px) rotateX(-90deg);
	-moz-transform:perspective(300px) rotateX(-90deg);
	-ms-transform:perspective(300px) rotateX(-90deg);
	transform:perspective(300px) rotateX(-90deg);
	-webkit-transform-origin:top center;
	-moz-transform-origin:top center;
	-ms-transform-origin:top center;
	transform-origin:top center
}
.window.perspectiveBottom {
	-webkit-transform:perspective(300px) rotateX(90deg);
	-moz-transform:perspective(300px) rotateX(90deg);
	-ms-transform:perspective(300px) rotateX(90deg);
	transform:perspective(300px) rotateX(90deg);
	-webkit-transform-origin:bottom center;
	-moz-transform-origin:bottom center;
	-ms-transform-origin:bottom center;
	transform-origin:bottom center
}
.window.perspectiveLeft {
	-webkit-transform:perspective(200px) rotateY(90deg);
	-moz-transform:perspective(200px) rotateY(90deg);
	-ms-transform:perspective(200px) rotateY(90deg);
	transform:perspective(200px) rotateY(90deg);
	-webkit-transform-origin:center left;
	-moz-transform-origin:center left;
	-ms-transform-origin:center left;
	transform-origin:center left
}
.window.perspectiveRight {
	-webkit-transform:perspective(200px) rotateY(-90deg);
	-moz-transform:perspective(200px) rotateY(-90deg);
	-ms-transform:perspective(200px) rotateY(-90deg);
	transform:perspective(200px) rotateY(-90deg);
	-webkit-transform-origin:center right;
	-moz-transform-origin:center right;
	-ms-transform-origin:center right;
	transform-origin:center right
}
.slickModals .linear {
	-webkit-transition-timing-function:linear;
	-moz-transition-timing-function:linear;
	-ms-transition-timing-function:linear;
	transition-timing-function:linear
}
.slickModals .ease {
	-webkit-transition-timing-function:ease;
	-moz-transition-timing-function:ease;
	-ms-transition-timing-function:ease;
	transition-timing-function:ease
}
.slickModals .ease-in {
	-webkit-transition-timing-function:ease-in;
	-moz-transition-timing-function:ease-in;
	-ms-transition-timing-function:ease-in;
	transition-timing-function:ease-in
}
.slickModals .ease-out {
	-webkit-transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	-ms-transition-timing-function:ease-out;
	transition-timing-function:ease-out
}
.slickModals .ease-in-out {
	-webkit-transition-timing-function:ease-in-out;
	-moz-transition-timing-function:ease-in-out;
	-ms-transition-timing-function:ease-in-out;
	transition-timing-function:ease-in-out
}
.slickModals .fastest {
	-webkit-transition-duration:.2s;
	-moz-transition-duration:.2s;
	-ms-transition-duration:.2s;
	transition-duration:.2s
}
.slickModals .fast {
	-webkit-transition-duration:.4s;
	-moz-transition-duration:.4s;
	-ms-transition-duration:.4s;
	transition-duration:.4s
}
.slickModals .medium {
	-webkit-transition-duration:.6s;
	-moz-transition-duration:.6s;
	-ms-transition-duration:.6s;
	transition-duration:.6s
}
.slickModals .slow {
	-webkit-transition-duration:.8s;
	-moz-transition-duration:.8s;
	-ms-transition-duration:.8s;
	transition-duration:.8s
}
.slickModals .slowest {
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-ms-transition-duration:1s;
	transition-duration:1s
}
.slickModals .close {
	position:absolute;
	top:-20px;
	right:0;
	z-index:10;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-weight:700;
	transition:all .1s ease
}
.slickModals .close:before {
	white-space:nowrap;
	display:block;
	position:relative;
	transition:all .1s ease
}
.slickModals .close.labeled:before {
	color:#fff;
	content:"close";
	font-size:8px;
	text-transform:uppercase;
	background:linear-gradient(to right,#fff 50%,#000 50%);
	background-size:200% 100%;
	background-position:right bottom;
	padding:6px 12px;
	margin-top:-10px
}
.slickModals .close.labeled:hover:before {
	background-position:left bottom;
	color:#000
}
.slickModals .close.text:before {
	color:#fff;
	content:"Close";
	font-size:9px;
	text-transform:uppercase
}
.slickModals .close.tag:before {
	color:#fff;
	content:"\00d7";
	background:#000;
	text-align:center;
	font-size:15px;
	width:24px;
	height:24px;
	line-height:24px;
	margin-top:20px;
	opacity:.2
}
.slickModals .close.icon:hover:before,.window p {
	color:#000
}
.slickModals .close.tag:hover:before {
	opacity:1
}
.slickModals .close.icon {
	display:inline-block;
	width:22px;
	height:22px;
	overflow:hidden;
	margin:44px 22px 0 0;
	opacity:.5
}
.window .popup-icon,.window .wrap:after {
	content:"";
	display:block
}
.slickModals .close.icon:after,.slickModals .close.icon:before {
	content:"";
	position:absolute;
	height:1px;
	width:100%;
	top:50%;
	left:0;
	margin-top:-1px;
	background:#000
}
.slickModals .close.icon:before {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg)
}
.slickModals .close.icon:after {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg)
}
.slickModals .close.icon:hover {
	opacity:1
}
input#section1-p-1:checked~.section1-m-1,input#section1-p-2:checked~.section1-m-2,input#section1-p-3:checked~.section1-m-3,input#section1-p-4:checked~.section1-m-4,input#section1-p-5:checked~.section1-m-5,input#section1-p-6:checked~.section1-m-6,input#section2-p-10:checked~.section2-m-10,input#section2-p-11:checked~.section2-m-11,input#section2-p-12:checked~.section2-m-12,input#section2-p-13:checked~.section2-m-13,input#section2-p-14:checked~.section2-m-14,input#section2-p-15:checked~.section2-m-15,input#section2-p-1:checked~.section2-m-1,input#section2-p-2:checked~.section2-m-2,input#section2-p-3:checked~.section2-m-3,input#section2-p-4:checked~.section2-m-4,input#section2-p-5:checked~.section2-m-5,input#section2-p-6:checked~.section2-m-6,input#section2-p-7:checked~.section2-m-7,input#section2-p-8:checked~.section2-m-8,input#section2-p-9:checked~.section2-m-9,input#section3-p-10:checked~.section3-m-10,input#section3-p-1:checked~.section3-m-1,input#section3-p-2:checked~.section3-m-2,input#section3-p-3:checked~.section3-m-3,input#section3-p-4:checked~.section3-m-4,input#section3-p-5:checked~.section3-m-5,input#section3-p-6:checked~.section3-m-6,input#section3-p-7:checked~.section3-m-7,input#section3-p-8:checked~.section3-m-8,input#section3-p-9:checked~.section3-m-9,input#section4-p-1:checked~.section4-m-1,input#section4-p-2:checked~.section4-m-2,input#section4-p-3:checked~.section4-m-3,input#section4-p-4:checked~.section4-m-4,input#section4-p-5:checked~.section4-m-5,input#section4-p-6:checked~.section4-m-6,input#section4-p-7:checked~.section4-m-7,input#section4-p-8:checked~.section4-m-8,input#section4-p-9:checked~.section4-m-9,input#section5-p-1:checked~.section5-m-1,input#section5-p-2:checked~.section5-m-2,input#section5-p-3:checked~.section5-m-3,input#section5-p-4:checked~.section5-m-4,input#section5-p-5:checked~.section5-m-5,input#section6-p-1:checked~.section6-m-1,input#section6-p-2:checked~.section6-m-2,input#section7-p-1:checked~.section7-m-1,input#section7-p-2:checked~.section7-m-2,input#section7-p-3:checked~.section7-m-3,input#section7-p-4:checked~.section7-m-4,input#section7-p-5:checked~.section7-m-5 {
	visibility:visible
}
input#section1-p-1:checked~.section1-m-1 .window,input#section1-p-2:checked~.section1-m-2 .window,input#section1-p-3:checked~.section1-m-3 .window,input#section1-p-4:checked~.section1-m-4 .window,input#section1-p-5:checked~.section1-m-5 .window,input#section1-p-6:checked~.section1-m-6 .window,input#section2-p-10:checked~.section2-m-10 .window,input#section2-p-11:checked~.section2-m-11 .window,input#section2-p-12:checked~.section2-m-12 .window,input#section2-p-13:checked~.section2-m-13 .window,input#section2-p-14:checked~.section2-m-14 .window,input#section2-p-15:checked~.section2-m-15 .window,input#section2-p-1:checked~.section2-m-1 .window,input#section2-p-2:checked~.section2-m-2 .window,input#section2-p-3:checked~.section2-m-3 .window,input#section2-p-4:checked~.section2-m-4 .window,input#section2-p-5:checked~.section2-m-5 .window,input#section2-p-6:checked~.section2-m-6 .window,input#section2-p-7:checked~.section2-m-7 .window,input#section2-p-8:checked~.section2-m-8 .window,input#section2-p-9:checked~.section2-m-9 .window,input#section3-p-10:checked~.section3-m-10 .window,input#section3-p-1:checked~.section3-m-1 .window,input#section3-p-2:checked~.section3-m-2 .window,input#section3-p-3:checked~.section3-m-3 .window,input#section3-p-4:checked~.section3-m-4 .window,input#section3-p-5:checked~.section3-m-5 .window,input#section3-p-6:checked~.section3-m-6 .window,input#section3-p-7:checked~.section3-m-7 .window,input#section3-p-8:checked~.section3-m-8 .window,input#section3-p-9:checked~.section3-m-9 .window,input#section4-p-1:checked~.section4-m-1 .window,input#section4-p-2:checked~.section4-m-2 .window,input#section4-p-3:checked~.section4-m-3 .window,input#section4-p-4:checked~.section4-m-4 .window,input#section4-p-5:checked~.section4-m-5 .window,input#section4-p-6:checked~.section4-m-6 .window,input#section4-p-7:checked~.section4-m-7 .window,input#section4-p-8:checked~.section4-m-8 .window,input#section4-p-9:checked~.section4-m-9 .window,input#section5-p-1:checked~.section5-m-1 .window,input#section5-p-2:checked~.section5-m-2 .window,input#section5-p-3:checked~.section5-m-3 .window,input#section5-p-4:checked~.section5-m-4 .window,input#section5-p-5:checked~.section5-m-5 .window,input#section6-p-1:checked~.section6-m-1 .window,input#section6-p-2:checked~.section6-m-2 .window,input#section7-p-1:checked~.section7-m-1 .window,input#section7-p-2:checked~.section7-m-2 .window,input#section7-p-3:checked~.section7-m-3 .window,input#section7-p-4:checked~.section7-m-4 .window,input#section7-p-5:checked~.section7-m-5 .window {
	-webkit-transform:rotate(0) scale(1);
	-moz-transform:rotate(0) scale(1);
	-ms-transform:rotate(0) scale(1);
	transform:rotate(0) scale(1);
	opacity:1;
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-ms-transition-delay:.2s;
	transition-delay:.2s
}
input#section1-p-1:checked~.section1-m-1 .overlay,input#section1-p-2:checked~.section1-m-2 .overlay,input#section1-p-3:checked~.section1-m-3 .overlay,input#section1-p-4:checked~.section1-m-4 .overlay,input#section1-p-5:checked~.section1-m-5 .overlay,input#section1-p-6:checked~.section1-m-6 .overlay,input#section2-p-10:checked~.section2-m-10 .overlay,input#section2-p-11:checked~.section2-m-11 .overlay,input#section2-p-12:checked~.section2-m-12 .overlay,input#section2-p-13:checked~.section2-m-13 .overlay,input#section2-p-14:checked~.section2-m-14 .overlay,input#section2-p-15:checked~.section2-m-15 .overlay,input#section2-p-1:checked~.section2-m-1 .overlay,input#section2-p-2:checked~.section2-m-2 .overlay,input#section2-p-3:checked~.section2-m-3 .overlay,input#section2-p-4:checked~.section2-m-4 .overlay,input#section2-p-5:checked~.section2-m-5 .overlay,input#section2-p-6:checked~.section2-m-6 .overlay,input#section2-p-7:checked~.section2-m-7 .overlay,input#section2-p-8:checked~.section2-m-8 .overlay,input#section2-p-9:checked~.section2-m-9 .overlay,input#section3-p-10:checked~.section3-m-10 .overlay,input#section3-p-1:checked~.section3-m-1 .overlay,input#section3-p-2:checked~.section3-m-2 .overlay,input#section3-p-3:checked~.section3-m-3 .overlay,input#section3-p-4:checked~.section3-m-4 .overlay,input#section3-p-5:checked~.section3-m-5 .overlay,input#section3-p-6:checked~.section3-m-6 .overlay,input#section3-p-7:checked~.section3-m-7 .overlay,input#section3-p-8:checked~.section3-m-8 .overlay,input#section3-p-9:checked~.section3-m-9 .overlay,input#section4-p-1:checked~.section4-m-1 .overlay,input#section4-p-2:checked~.section4-m-2 .overlay,input#section4-p-3:checked~.section4-m-3 .overlay,input#section4-p-4:checked~.section4-m-4 .overlay,input#section4-p-5:checked~.section4-m-5 .overlay,input#section4-p-6:checked~.section4-m-6 .overlay,input#section4-p-7:checked~.section4-m-7 .overlay,input#section4-p-8:checked~.section4-m-8 .overlay,input#section4-p-9:checked~.section4-m-9 .overlay,input#section5-p-1:checked~.section5-m-1 .overlay,input#section5-p-2:checked~.section5-m-2 .overlay,input#section5-p-3:checked~.section5-m-3 .overlay,input#section5-p-4:checked~.section5-m-4 .overlay,input#section5-p-5:checked~.section5-m-5 .overlay,input#section6-p-1:checked~.section6-m-1 .overlay,input#section6-p-2:checked~.section6-m-2 .overlay,input#section7-p-1:checked~.section7-m-1 .overlay,input#section7-p-2:checked~.section7-m-2 .overlay,input#section7-p-3:checked~.section7-m-3 .overlay,input#section7-p-4:checked~.section7-m-4 .overlay,input#section7-p-5:checked~.section7-m-5 .overlay {
	opacity:1;
	-webkit-transition-delay:0s;
	-moz-transition-delay:0s;
	-ms-transition-delay:0s;
	transition-delay:0s
}
.slickModals * {
	font-family:Raleway,sans-serif;
	font-weight:300
}
.window .wrap {
	background:#d7d9cc;
	width:100%;
	height:200px;
	position:absolute;
	top:0;
	left:0;
	padding:30px 0
}
.window .wrap:after {
	position:absolute;
	top:auto;
	bottom:28px;
	left:0;
	right:0;
	margin:0 auto;
	width:0;
	height:0;
	border-style:solid;
	border-width:10px 25px 0;
	border-color:#d7d9cc transparent transparent;
	z-index:10
}
.window .title {
	font-weight:900;
	font-size:26px;
	color:#000;
	opacity:.7;
	padding-bottom:4px
}
.window p {
	font-size:13px
}
.window .cta {
	background:#fff;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:40px 0
}
.window .cta label {
	background:#3c3c3c;
	color:#fff;
	font-weight:900;
	font-size:14px;
	text-align:center;
	padding:12px 36px;
	letter-spacing:1px
}
.window .cta label:hover {
	background:#222
}
.window .popup-icon {
	background:url(popup-icon.png) no-repeat;
	width:50px;
	height:50px;
	margin:0 auto 10px;
	opacity:.2
}
.window .wrap.black:after,.window .wrap.custom:after,.window .wrap.transparent:after,.window .wrap.white:after {
	display:none
}
.slickModals .close.icon.white:after,.slickModals .close.icon.white:before {
	background:#fff
}
.window .cta.black,.window .wrap.black {
	background:#333
}
.slickModals .close.icon.white {
	opacity:1
}
.slickModals .close.icon.white:hover {
	opacity:.6
}
.window .wrap.black>.title,.window .wrap.black>p {
	color:#fff;
	opacity:1
}
.window .cta.black label {
	background:#f78f8f
}
.window .cta.black label:hover {
	opacity:.6
}
.window .wrap.white {
	background:#fff
}
.window .wrap.white>.title,.window .wrap.white>p {
	color:#333;
	opacity:1
}
.window .cta.white {
	background:#fff;
	bottom:16px
}
.window .cta.white label {
	background:#f78f8f
}
.window .cta.white label:hover {
	opacity:.6
}
.window .wrap.custom {
	background:#3e75c1
}
.window .wrap.custom>.title,.window .wrap.custom>p {
	color:#fff;
	opacity:1
}
.window .cta.custom {
	background:#3e75c1;
	bottom:16px
}
.window .cta.custom label {
	background:#2c5894
}
.window .cta.custom label:hover {
	opacity:.6
}
.window .cta.transparent,.window .wrap.transparent {
	background:0 0
}
.window .wrap.transparent .title,.window .wrap.transparent p {
	color:#fff;
	opacity:1
}
.window .cta.transparent label {
	background:#fff;
	color:#222
}
.window .cta.transparent label:hover {
	background:#222;
	color:#fff
}
.window.demo-1 {
	height:300px;
	width:560px
}
.window .wrap.demo-1 {
	left:0;
	width:60%;
	height:100%;
	background:#fff;
	text-align:left;
	padding:30px
}
.window .wrap.demo-1:after {
	transform:rotateZ(-90deg);
	border-color:#fff transparent transparent;
	bottom:auto;
	top:222px;
	left:auto;
	right:-24px
}
.window .wrap.demo-1 .title {
	color:#3c3c3c;
	padding-bottom:22px
}
.window .wrap.demo-1 p {
	font-size:12px;
	padding-bottom:22px
}
.window .wrap.demo-1 form input.field {
	background:#eee;
	padding:12px;
	display:block;
	font-size:11px;
	width:100%
}
.window .wrap.demo-1 label {
	background:#3c3c3c;
	color:#fff;
	font-weight:900;
	font-size:16px;
	text-align:center;
	padding:8px 12px;
	width:100%;
	margin-top:10px;
	display:block
}
.window .wrap.demo-1 label:hover {
	background:#222
}
.window .wrap.demo-1 .deny {
	display:block;
	font-size:9px;
	padding-top:14px;
	color:#000;
	font-weight:300
}
.window .cta.demo-1 {
	right:0;
	height:100%;
	bottom:auto;
	top:0;
	width:40%;
	left:auto;
	background:#EEE
}
.window .cta.demo-1 span.icon {
	width:80px;
	height:80px;
	background:url(email.png) no-repeat;
	content:"";
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	margin:-40px 0 0 -40px
}
.window .cta.demo-1 p {
	position:absolute;
	bottom:62px;
	font-size:10px;
	color:#fff;
	left:70px
}
.window .cta.demo-1 p span {
	display:block;
	font-weight:900;
	color:#fff
}
.window.special {
	color:#fff;
	height:500px;
	width:300px;
	padding:0
}
.window.special label.go {
	background:url(promo-banner.jpg) no-repeat;
	content:"";
	width:300px;
	height:500px;
	display:block
}
.window.maps,.window.yt {
	width:80%;
	height:80%;
	padding:0
}
#map,.window.maps iframe,.window.yt iframe {
	width:100%;
	height:100%
}
.window.yt .labeled:before {
	background:#ef6161
}
.window.yt .labeled:hover:before {
	background:#fff
}
.section1-m-5 .overlay {
	background:#000
}
.window.demo-2 {
	width:460px;
	height:500px;
	padding:0
}
.wrap.demo-2 {
	background:0 0
}
.wrap.demo-2:after {
	display:none
}
.demo-2 .title {
	font-size:30px
}
.demo-2 .title,.demo-2 p {
	color:#fff;
	opacity:1
}
.demo-2 .topIcon {
	content:"";
	display:block;
	background:url(down.png) no-repeat;
	width:32px;
	height:32px;
	margin:0 auto 20px
}
.demo-2 form {
	display:block;
	margin:30px 0
}
.demo-2 form label,.demo-2 input,.demo-2 textarea {
	border-style:solid;
	border-color:transparent transparent #fff;
	border-width:1px;
	font-size:12px;
	color:#fff;
	background:0 0;
	display:block;
	width:100%;
	padding:12px;
	margin-bottom:16px
}
.demo-2 form label {
	background:#ef6161;
	font-size:14px;
	font-weight:900;
	letter-spacing:1px;
	border:none;
	margin-top:30px;
	display:block
}
.demo-2 form label:hover {
	background:#fff;
	color:#222
}
.demo-2 .small {
	display:block;
	font-size:12px;
	font-weight:900;
	opacity:.6
}
.demo-2 .small:hover {
	opacity:1
}
